<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet"th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GestionVeterinaria</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/one-page-wonder.min.css}" rel="stylesheet">

</head>

<body>

<header th:replace="clinicaZarpas::header"></header>
  <!-- Navigation -->
  <section>
      <div class="masthead-content">
      <div class="container mt-4">
      <div class="col-sm-6">
      <form th:action="@{/cli/addCita}" th:object=${cita} method="post">
      	<div class="card">
      	<div class="card-header"></div>
      	 	<h3 th:text="${cita.id != 0} ? 'Editar cita' : 'Nueva  cita'"> Nueva Cita </h3>
      	 	<input type="hidden" th:field="*{id}" id="id">
      	 	<div class="card-body"></div>
      	 	   	<div class="form-group">
      		<label for="mascota">Elegir mascota</label>
      		<select class="form-control selectpicker" th:field="*{mascota.id}" id="mascota">
      			<option th:each="mascota: ${mascotas}"
      					th:value="${mascota.id}"
      					th:text="${mascota.nombre}">
      			</option>
      		</select>
      	</div>
      	<div class="form-group">
      		<label for="user">Elegir veterinario</label>
      		<select class="form-control selectpicker" th:field="*{user.id}" id="user">
      			<option th:each="user: ${users}"
      					th:value="${user.id}"
      					th:text="${user.nombre}">
      			</option>
      		</select>
      	</div>
      		<div class="form-group">
      			<label for="fecha">Fecha </label>
      			<input th:field="*{fecha}" type="date" id="fecha" class="form-control" placeholder="YYYY-MM-DD"/>
      		</div>
      		<div class="form-group">
      			<label for="informe">Informe </label>
      			<input th:field="*{informe}" type="text" id="informe" class="form-control"/>
      		</div>
      		<div class="form-group">
      			<label for="motivo">Motivo </label>
      			<input th:field="*{motivo}" type="text" id="motivo" class="form-control"/>
      		</div>	
      			<label for="realizada">Realizada </label>
      		</div>
      		<div class="form-check-inline">
      		<label class="form-check-label"><input type="radio"
      		class="form-check-input" name="option" th:field="*{realizada}"
      		id="Si" value=true>Si</label>
      		</div>
      		<div class="form-check-inline">
      		<label class="form-check-label"><input type="radio"
      		class="form-check-input" name="option" th:field="*{realizada}"
      		id="No" value=false>No</label>
      		</div>
      		</div>
      	<input type="submit" value="Guardar" class="btn btn-success">
      	</form>
      	</div>
      	</div>
      
	</div>
	</section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Red de Clínicas Veterinarias de Andalucía</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>

