<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GestionVeterinaria</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/one-page-wonder.min.css}" rel="stylesheet">

</head>

<body>

<header th:replace="clinicaZarpas::header"></header>
    
    </header>
  <section class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Listado de Veterinarios</h1>
      </div>
    </div>
  
   <div class="masthead-content">
      <div class="container">
  <table class="table">
		<thead>
			<tr>
				<td>NOMBRE </td>
				<td>APELLIDOS </td>
				<td>TELÉFONO </td>
			</tr>
		</thead>

		<tbody>
			<tr th:each="user:${listaVeterinarios}">
				<td th:text="${user.nombre}"></td>
				<td th:text="${user.apellidos}"></td>
				<td th:text="${user.telefono}"></td>
				<td>
					<th> <a th:href="@{/admin/newVeterinario/}+${user.id}">
					<button type ="button" class="btn btn-warning" >Editar</button>
				</a>
				<a th:href="@{/admin/deletedVet/}+${user.id}">
					<button type ="button" class="btn btn-danger" >Eliminar</button>
				</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<form class="button" th:action="@{/admin/newVeterinario}" method="POST">
	<input class="btn btn-success" type="submit" value="Nuevo Veterinario "/>
	</form>
	</section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Red de Clínicas Veterinarias de Andalucía</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>



